div.MenuLevel1>div,
div.MenuLevel2>div {
    width: 90px;
    color: #888;
    background-color: #d3d3d3;
    border: solid #4e4e4e 1px;
    border-radius: 3px;
    padding: 2px;
    position: relative;
    cursor: pointer;

}

div.MenuLevel1>div {
    float: left;

}

div.MenuLevel2 {
    width: 90px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
    transition: all 1.5s ease;
}


div.MenuLevel1>div:hover div.MenuLevel2 {
    opacity: 1;
    visibility: visible;
    position: absolute;
    left: 0%;
    top: 100%;
    z-index: 1
}

div.MenuLevel1>div:hover {
    color: #d3d3d3;
    background-color: #888;
}

.clear {
    clear: both;
}

@media all and (max-width:600px) {
    div.MenuLevel1>div {
        float: none;
    }

    div.MenuLevel1>div:hover div.MenuLevel2 {

        left: 100%;
        top: 0%;

    }
}