body {
    font-family: sans-serif;
    font-size: 14px;
    background-color: #eee;
    margin-left: 10%;
    margin-right: 10%;
}

.right_f {
    float: right
}

.left_f {
    float: left
}

footer .d_img {
    text-align: center;
}