body {
    font-family: sans-serif;
    font-size: 14px;
    background-color: #eee;
    margin-left: 10%;
    width: 660px
}

table {
    width: 100%;
    text-align: center
}

.cell_l {
    width: 33%;
    text-align: left
}
.cell_r {
    width: 33%;
    text-align: right
}