* {
    box-sizing: border-box;
}

header h1, footer {
    line-height: 2rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    /*background-color: #eee;*/
    /*border: solid #ddd 2px;*/
}

.left-column {
    width: 300px;
    color: #444;
    padding: 0.6rem 0.3rem 0.6rem 0.6rem;
    /*background-color: #eee;*/
}

.products {
    display: flex;
    gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    color: #444;
    padding: 0.6rem 0.6rem 0.6rem 0.3rem;
    /*background-color: #eee;*/
}

.product-card {
    display: flex;
    width: 200px;
    gap: 25px;
    flex-direction: column;
    /*border: solid #ddd 2px;*/

}

.product-card-image, .product-card-link {
    display: flex;
    justify-content: center;
    align-content: space-between;

}


@media all and (max-width: 900px) {
    main {
        flex-direction: column;
    }

    .left-column {
        padding: 0.6rem 0.6rem 0.3rem 0.6rem;
    }

    .center-column {
        padding: 0.3rem 0.6rem 0.6rem 0.6rem;
    }
}

@media all and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .left-column {
        padding: 0.6rem 0.6rem 0.3rem 0.6rem;
    }

    .center-column {
        padding: 0.3rem 0.6rem 0.6rem 0.6rem;
    }
}

@media all and (max-width: 400px) {

    main {
        flex-direction: column;
    }

    .left-column {
        padding: 0.6rem 0.6rem 0.3rem 0.6rem;
    }

    .center-column {
        padding: 0.3rem 0.6rem 0.6rem 0.6rem;
    }
}


