* {
    box-sizing: border-box;
}

header div, footer {
    text-align: center;
}
header div {
    font-size: 1.6rem;
    font-weight: bold;

}

main, header {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    /*background-color: #eee;*/
    /*border: solid #ddd 2px;*/
}

.left-column {
    width: 250px;
    color: #444;
    padding: 0.6rem 0.3rem 0.6rem 0.6rem;
    /*background-color: #eee;*/
}

.products-list {
    display: flex;
    gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    color: #444;
    padding: 0.6rem 0.6rem 0.6rem 0.3rem;
    /*background-color: #eee;*/
}

.products-cell {
    display: flex;
    width: 200px;
    gap: 25px;
    flex-direction: column;
    /*border: solid #ddd 2px;*/

}

.products-cell-image, .products-cell-link {
    display: flex;
    justify-content: center;
    align-content: space-between;

}
.product-card, .product-other {
    display: flex;
    /*gap: 25px;*/
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    color: #444;
    padding: 0.6rem 0.6rem 0.6rem 0.3rem;
    /*background-color: #eee;*/
}
.product-basic {
    display: flex;
    flex-direction: row;
}
.hidden, #registerBoxHidden, #loginBox  {
    display: none;
}
.user-form, .order-form {
    display: flex;
    gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
}
.user-form .user-basic > div,
.user-form .user-added > div,
.order-form .order-basic > div,
.order-form .order-added > div {
    display: flex;
    gap: 25px;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid grey;
}

.show {
    display: inline-block;
}
@media all and (max-width: 900px) {
    main {
        flex-direction: column;
    }

    .left-column {
        padding: 0.6rem 0.6rem 0.3rem 0.6rem;
    }

    .center-column {
        padding: 0.3rem 0.6rem 0.6rem 0.6rem;
    }
}

@media all and (max-width: 600px) {
    main, .product-basic {
        flex-direction: column;
    }

    .left-column {
        padding: 0.6rem 0.6rem 0.3rem 0.6rem;
    }

    .center-column {
        padding: 0.3rem 0.6rem 0.6rem 0.6rem;
    }
}

@media all and (max-width: 400px) {

    main {
        flex-direction: column;
    }

    .left-column {
        padding: 0.6rem 0.6rem 0.3rem 0.6rem;
    }

    .center-column {
        padding: 0.3rem 0.6rem 0.6rem 0.6rem;
    }
}


