* {
    box-sizing: border-box;
}

header h1, footer {
    line-height: 2rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    /*background-color: #eee;*/
    /*border: solid #ddd 2px;*/
}

.left-column {
    width: 300px;
    color: #444;
    padding: 0.6rem 0.3rem 0.6rem 0.6rem;
    /*background-color: #eee;*/
}

.products-list {
    display: flex;
    gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    color: #444;
    padding: 0.6rem 0.6rem 0.6rem 0.3rem;
    /*background-color: #eee;*/
}

.products-cell {
    display: flex;
    width: 200px;
    gap: 25px;
    flex-direction: column;
    /*border: solid #ddd 2px;*/

}

.products-cell-image, .products-cell-link {
    display: flex;
    justify-content: center;
    align-content: space-between;

}
.product-card, .product-other {
    display: flex;
    /*gap: 25px;*/
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    color: #444;
    padding: 0.6rem 0.6rem 0.6rem 0.3rem;
    /*background-color: #eee;*/
}
.product-basic {
    display: flex;
    /*gap: 25px;*/
    flex-direction: row;
}
.hidden {
    display: none;
}
.as-link {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}
#registerBoxHidden, #loginBox {
    display: none;
}
/*.show {*/
/*    display: inline-block;*/
/*}*/
@media all and (max-width: 900px) {
    main {
        flex-direction: column;
    }

    .left-column {
        padding: 0.6rem 0.6rem 0.3rem 0.6rem;
    }

    .center-column {
        padding: 0.3rem 0.6rem 0.6rem 0.6rem;
    }
}

@media all and (max-width: 600px) {
    main, .product-basic {
        flex-direction: column;
    }

    .left-column {
        padding: 0.6rem 0.6rem 0.3rem 0.6rem;
    }

    .center-column {
        padding: 0.3rem 0.6rem 0.6rem 0.6rem;
    }
}

@media all and (max-width: 400px) {

    main {
        flex-direction: column;
    }

    .left-column {
        padding: 0.6rem 0.6rem 0.3rem 0.6rem;
    }

    .center-column {
        padding: 0.3rem 0.6rem 0.6rem 0.6rem;
    }
}


